.search {
    float: left;
    margin: 15px 20px 0 0;
    font-size: 20px;
    text-align: center;
    clear: both;
    padding-left: 10px;
}

.dropDownClass  {
    width: 120px;
    font-size: 18px;
    min-width:100px;
}

.search input {
    min-width: 100px;
    min-height: 12px;
    font-size: 18px;
}

.list {
    padding-top: 60px;
}

.gridViewClass th  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: White;
    text-decoration: none;
    line-height: 20px;
    padding-left: 10px;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    width: 500px;
    height: 50px;
}

.gridViewClass tr {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 20px;
    padding-left: 10px;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    width: 500px;
    height: 40px;
}
.gridViewClass {
    clear: both;
    padding-top: 40px;
}

.loginButton {
    background-color: rgb(11, 191, 107);
    border: none;
    color: black;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.loginButton:hover {
    background-color: green; /* Green */
}